{
  "plugins": ["testing-library", "jest"],
  "extends": [
    "eslint-config-synacor",
    "plugin:react-hooks/recommended",
    "plugin:testing-library/react",
    "plugin:jest/recommended",
    "preact"
  ]
}
