{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "testing-library",
    "jest"
  ],
  "extends": [
    "preact",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:react-hooks/recommended",
    "plugin:testing-library/react",
    "plugin:jest/recommended"
  ],
  "rules": {
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-empty-function": "off"
  }
}
