.symbol {
    background: #f39100;
    border-radius: 50%;
    width: 2em;
    z-index: 999;
    color: white;
    text-align: center;
    line-height: 2em;
    cursor: pointer;
}

.tooltip {
    background: #fff;
    border: 0.1em solid #f39100;
    border-radius: 1em;
    padding: 2em;
    cursor: auto;
}

.tooltipWrapper {
    z-index: 999;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
    cursor: pointer;
}

.tooltipX {
    cursor: pointer;
    margin-left: auto;
}

.background {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    background: #fff;
    z-index: 998;
    width: 100%;
    opacity: 70%;
}
