@import '~style/helpers';

.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 56px;
	padding: 0;
	background: #90d504	;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	z-index: 9999;

	h1 {
		float: left;
		margin: 0;
		padding: 0 15px;
		font-size: 24px;
		line-height: 56px;
		font-weight: 400;
		color: #FFF;
	}
	.menuIcon {
		display: block;
		float: right;
		padding: 10px;
		cursor: pointer;
		padding: 15px;
		color: #fff;
		font-weight: bolder;
	}
}
