@import 'mixins';
@import '~skeleton-less/less/skeleton';

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
	flex:auto;
	display: flex;
	flex-direction: column;
}

#content {
	flex:auto;
	display: flex;
	overflow: auto;
}

.d-flex {
	display: flex;
}

.flex-grow-1 {
	flex: auto;
}

.flex-column {
	flex-direction: column;
}

.justify-content-center {
	justify-content: center;
}

.ml-auto {
	margin-left: auto;
}

.container-padded {
	padding: 1em;
}

.align-items-baseline {
	align-items: baseline;
}

.overflow-auto {
	overflow: auto;
}

.container-center {
	flex: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.subheader-notification {
	display: flex;
	flex-direction: row;
	padding: 0.5em;
	align-items: center;
	button {
		background-color: #FFF;
		margin-left: auto;
		margin-bottom: 0;
	}
}

.text-center {
	text-align: center;
}

.text-danger {
	color: #923838;
}

.w-100 {
	width: 100%;
}

.clickable {
	cursor: pointer;
}

.d-none {
	display: none;
}
