.banner {
  padding: 20px 10px;
  flex:auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #54716a;
  color: #fff;
  text-align: center;
}

.description {
  max-width: 400px;
  margin: 20px auto;
  font-size: 19px;
}

.bannerButton {
  border: 1px solid rbga(255, 255, 255, 0.5);
  color: #54716a;
  background: whitesmoke;
  margin: 10px;
  padding: 0 13px;
  transition: border cubic-bezier(0.075, 0.82, 0.165, 1);
}

.bannerButtonCancel button {
  color: #fff;
  background: transparent;
}

.bannerButtonCancel .description {
  font-size: 13px;
  font-weight: bold;

}

.bannerButton:hover {
  border: 1px solid rbga(255, 255, 255, 1);
}

.dontShowAgain {
  margin-top: auto;
}
